# Root environment settings

# Backend
MONGO_URI=mongodb://mongo:27017/priorityqueue
JWT_SECRET=ABHI
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
AI_SERVICE_URL=http://ai-service:8000
NODE_ENV=development
RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX=300
EMAIL_FROM=system@priorityqueue.local
FRONTEND_URL=http://localhost:3000
ADMIN_EMAIL=admin@priorityqueue.local
ADMIN_PASSWORD=AdminPass123!

# Frontend
VITE_API_BASE=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000

# AI Service
FLASK_ENV=production
